<!DOCTYPE html>
<html>
  <head>
    <title>GameDayLineTweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153395764-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153395764-1');
    </script>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class="bg-gray-200 ">
    <div class="flex">
      <div class="sidebar w-1/4 h-screen p-3 sticky top-0 bg-gray-200 overflow-y-scroll border-indigo-700 border-l-4">
        <h1 class="text-2xl mb-0 p-2">
          <%= link_to root_url, class: "p-2 flex items-center" do %>
            <div class="mr-4 h-24 w-24">
              <%= image_tag("logo.png", size: 100) %>
            </div>
          <% end %>
        </h1>

        <ul>
          <% Team.all.each do |team| %>
            <li class="">
              <%= link_to root_url(team: team.abbr), class: "p-2 flex items-center hover:bg-white" do %>
                <div class="mr-4 h-8 w-8">
                  <%= image_tag("logos/#{team.abbr.downcase}.svg", size: 55, class: "h-8 w-8") %>
                </div>
                <span>
                  <%= team.name %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>

      </div>
      <div class="container mx-auto w-full p-3 text-center bg-gray-100 flex flex-col items-center border-l border-gray-400">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
