<!DOCTYPE html>
<html>
  <head>
    <title>GameDayLineTweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200 ">
    <div class="flex">
      <div class="sidebar w-1/4 h-screen p-3 sticky top-0 bg-gray-200 overflow-y-scroll border-indigo-700 border-l-4">
        <h1 class="text-2xl mb-4 p-2">
          <%= link_to('Gameday Line Tweets', root_url) %>
        </h1>

        <%
          @teams = Team.all
        %>

        <ul>
          <% @teams.each do |team| %>
            <li class="">
              <%= link_to root_url(team: team.abbr), class: "p-2 flex items-center hover:bg-white" do %>
                <div class="mr-4 h-8 w-8">
                  <%= image_tag("logos/#{team.abbr.downcase}.svg", size: 55, class: "h-8 w-8") %>
                </div>
                <span>
                  <%= team.name %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>

      </div>
      <div class="container mx-auto w-full p-3 text-center bg-gray-100 flex flex-col items-center border-l border-gray-400">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
